body 
{
    margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #555a4a;
    background: #a0c73f;
}

.container
{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 980px;
}
.container:after
{
    content: "";
    display: table;
    clear: both;
}

#content
{
    padding: 20px 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("image_style/content.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: auto auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    width: 920px;
}

#list-bus-view
{
    
}
#list-bus-view .list-view-bus
{
    padding: 0 20px;
    margin-bottom: 30px;
    width: 30%;
    display: inline-block;
    float: left;
}
.list-view-bus .list-view-bus-item
{
 display: inline-block;
 width: 100%;   
 text-align: left;
}

.list-view-bus .list-view-bus-item strong
{
    max-width: 90px;
    width: 100%;
    display: block;
    float: left;
}

.list-view-bus .list-view-bus-item input, .list-view-bus .list-view-bus-item select
{
    margin: 5px 0;
    max-width: 250px;
    width: 100%;
}

#list-customer-view
{
    width: 66%;
    display: block;
}


input:not(.button), select
{
    margin: 10px 20px 10px 10px;
}

#list-customer-view
{
    padding: 0 20px;
}

#content_wrapper_bottom
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("image_style/content_bottom.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 15px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1000px;
}

#footer
{
    text-align: center;
    padding: 30px;
    color: #333;
    
}


/*style header*/
.header
{
   width: 100%;
    height: 265px;	
	background: url(image_style/style_header.jpg) no-repeat top center; 
}

/*user-name*/
.user-name
{
    float: right;
    padding: 20px 40px;
    color: #fff;
    font-size: 15px;
}

/*style menu*/
.navigation-menu
{
    width: 80%;
	padding-top: 70px;
	height: 43px;
}
.navigation-menu .menu-item
{
    float: left;
	display: block;
	height: 40px;
	width: 120px;
	margin: 0;
	padding: 8px 15px 0 15px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #333333;	
	font-weight: bold;
	outline: none;
	cursor: pointer;
}
.navigation-menu .menu-item:hover
{
    color: #333333;
	background: url(image_style/menu_hover.png) no-repeat top;
	background-size: 100% 100%;
}

.logo
{
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 20%;
}

.logo img
{
    width: 250px;
    height: 150px;
}
